@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 0;
    height: 0;
    border-radius: 200px;
    animation: scaleUp 1s 0.5s ease-out forwards;
    overflow: hidden;
}

.images {
    width: 100vw;
    height: 100vh;
    background: url('./1.jpg') center no-repeat;
    background-size: cover;
    animation: transitionImages 15s ease-in-out alternate infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: scaleBox 1s 2s forwards ;
}

.container span {
    font-size: 0;
    font-family: 'Great Vibes', cursive;
    animation: scaleText 1s 3s forwards ;
}

@keyframes scaleUp {
    0% {
        height: 0;
        width: 0;
        border-radius: 200px;
    }


    100% {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }
}

@keyframes transitionImages {
    0% { background: url('./1.jpg') center no-repeat; background-size: cover; }
    25% { background: url('./2.jpg') center no-repeat; background-size: cover; }
    50% { background: url('./3.jpg') center no-repeat; background-size: cover; }
    75% { background: url('./4.jpg') center no-repeat; background-size: cover; }
    100% { background: url('./5.jpg') center no-repeat; background-size: cover; }
}

@keyframes scaleText {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 100px;
    }
}

@keyframes scaleBox {
    0% {
        padding: 0;
    }

    100% {
        padding: 50px 75px;
    }
}